```{=html}
<% if (items.length > 0) { %>
    <table>
        <thead>
        <tr>
            <td>Location</td>
            <td>Warning Type</td>
            <td>Level</td>
            <td>Mandatory Action</td>
            <td>Status</td>
            <td>Date</td>
        </tr>
        </thead>
        <tbody>
        <% for (const item of items) { %>
            <tr>
                <td><%= item.location %></td>
                <td>
                    <% if (item.type === "redirect" ) { %>
                        <a href="<%= item.path %>" target="_blank" rel="noopener noreferrer">
                            <%= item.title %><span class="external-link">&nbsp;&nbsp;&nbsp;↗</span>
                        </a>
                    <% } else { %>
                        <a href="<%- item.path %>">
                            <%= item.title %>
                        </a>
                    <% } %>
                </td>
                <td>
                    <%= item.level %>
                    <% if (item.level.includes('Yellow')) { %>
                        <svg
                                xmlns='http://www.w3.org/2000/svg'
                                width='16'
                                height='16'
                                viewBox='0 0 16 16'
                        >
                            <circle fill='yellow' cx="8" cy="8" r="8"/>
                            <path d='M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z'/>
                        </svg>
                    <% } %>
                    <% if (item.level.includes('Orange')) { %>

                        <svg
                                xmlns='http://www.w3.org/2000/svg'
                                width='16'
                                height='16'
                                viewBox='0 0 16 16'
                        >
                            <path
                                    fill='red'
                                    fill-rule="evenodd"
                                    d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767z"
                            />
                            <path
                                    fill='white'
                                    d='M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z'
                            />
                        </svg>
                    <% } %>
                    <% if (item.level.includes('Red')) { %>
                        <svg
                                xmlns='http://www.w3.org/2000/svg'
                                width='16'
                                height='16'
                                viewBox='0 0 16 16'
                        >
                            <path
                                    fill='orange'
                                    fill-rule="evenodd"
                                    d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.48 1.48 0 0 1 0-2.098z"
                            />
                            <path d='M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z'/>
                        </svg>
                    <% } %>
                </td>
                <td><%= item.mandatoryAction %></td>
                <td><%= item.status %></td>
                <td><%= item.date %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
<% } else { %>
    <em>There are currently no air quality warnings in effect.</em>
<% } %>
```
