```{=html}
<% if (items.length > 0) { %>
    <table>
        <thead>
        <tr>
            <td>Location</td>
            <td>Warning Type</td>
            <td>Mandatory Action</td>
            <td>Status</td>
            <td>Date</td>
        </tr>
        </thead>
        <tbody>
        <% for (const item of items) { %>
            <tr>
                <td><%= item.location %></td>
                <td>
                    <% if (item.type === "redirect" ) { %>
                        <a href="<%= item.path %>" target="_blank" rel="noopener noreferrer">
                            <%= item.title %><span class="external-link">&nbsp;&nbsp;&nbsp;↗</span>
                        </a>
                    <% } else { %>
                        <a href="<%- item.path %>">
                            <%= item.title %>
                        </a>
                    <% } %>
                     <% if (item.level.includes('yellow')) { %>
                        <img src="assets/icon_warning_yellow.svg" alt="Yellow Warning Icon" width="16" height="16"/>
                     <% } %>
                     <% if (item.level.includes('orange')) { %>
                        <img src="assets/icon_warning_orange.svg" alt="Orange Warning Icon" width="16" height="16"/>
                     <% } %>
                     <% if (item.level.includes('red')) { %>
                        <img src="assets/icon_warning_red.svg" alt="Red Warning Icon" width="16" height="16"/>
                     <% } %>
                </td>
                <td><%= item.mandatoryAction %></td>
                <td><%= item.status %></td>
                <td><%= item.date %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
<% } else { %>
    <em>There are currently no air quality warnings in effect.</em>
<% } %>
```
